/* ////////////////////////////
Contact Section
///////////////////////////////*/

.contact-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

/* ////////////////////////////
Form
///////////////////////////////*/

.contact-form {
    height: 100%;
    width: 55%;
    padding: 1rem 6rem;
    opacity: 0;
    z-index: 9999;
}

.form-title {
    font-family: var(--mulish);
    font-size: 1.5rem;
    width: 100%;
    color: white;
    z-index: 1000;
    text-align: center;
    padding: 2rem;
}

#form-text {
    font-family: var(--mulish);
    color: white;
}

.label-box {
    position: relative;
    margin-bottom: 1.5rem;
}

.label-box input {
    font-family: var(--space);
    font-size: 0.8rem;
    background: transparent;
    border: none;
    border-bottom: 0.1rem solid white;
    color: white;
    width: 100%;
    outline: none;
    padding: 0.5rem 0;
}

.label-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.error-msg {
    font-family: var(--space);
    color: white;
    background-color: var(--red);
    font-size: 0.7rem;
    transition: .5s;
}

.label-box input:focus {
    border-bottom: 0.2rem solid white;
}

.label-box input:focus~label {
    top: -1.3rem;
    left: 0;
    font-size: 0.7rem;
}

/* Use for know if the imput is full and valid, to move the label to top */
.label-box input[aria-invalid="false"]~label {
    top: -1.3rem;
    left: 0;
    font-size: 0.7rem;
}

/* ////////////////////////////
Button
///////////////////////////////*/

.send-btn {
    border: 0.2rem solid white;
    background-color: transparent;
    font-family: var(--mulish);
    color: white;
    width: 100%;
    margin-top: 1rem;
    padding: 0.8rem;
    transition: 0.5s;
    opacity: 0;
}

.send-btn i {
    color: white;
    transition: 0.5s;
}

.send-btn:hover,
.send-btn:focus {
    outline: none;
    border: 0.2rem solid white;
    color: var(--blue);
    background-color: white;
    transition: 0.5s;
}

.send-btn:hover i,
.send-btn:focus i {
    color: var(--blue);
}

/* ////////////////////////////
Footer
///////////////////////////////*/

.footer-icons {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 2rem;
}

.footer-icons p {
    font-family: var(--mulish);
    color: white;
    font-size: 0.8rem;
    opacity: 0;
}

.footer-icons a {
    z-index: 9999;
}

.footer-icons i {
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
}

.footer-logo {
    width: 10%;
    opacity: 0;
}

/* ////////////////////////////
Map
///////////////////////////////*/

.contact-map {
    height: 100%;
    width: 45%;
    opacity: 0;
    z-index: 9999;
}


.contact-map>iframe {
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    transition: 1.5s;
}


/* ////////////////////////////
MediaQueries screen less than 720px
///////////////////////////////*/

@media screen and (max-width: 720px) {

    .contact-section {
        height: 100%;
    }

    .contact-form {
        height: 100%;
        width: 100%;
        padding: 2rem 2rem;
    }

    .footer-icons {
        margin-top: 4rem;
    }

    .form-title {
        font-size: 0.8rem;
    }

    .contact-map {
        display: none;
    }
}