/*///////////////////////////////
Hero Section
//////////////////////////////*/

.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.hero-picture {
    height: 100vh;
    width: 35%;
}

.hero-description {
    width: 65%;
    z-index: 9999;
}

/*///////////////////////////////
Perfil 
//////////////////////////////*/

.profile {
    opacity: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-image: url('../images/profile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
}


/*///////////////////////////////
Description
//////////////////////////////*/

.subtitle {
    background: rgb(248, 30, 68);
    background: -moz-linear-gradient(90deg, rgba(248, 30, 68, 1) 50%, rgba(128, 14, 31, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(248, 30, 68, 1) 50%, rgba(128, 14, 31, 1) 100%);
    background: linear-gradient(90deg, rgba(248, 30, 68, 1) 50%, rgba(128, 14, 31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f81e44", endColorstr="#800e1f", GradientType=1);
    font-family: var(--space);
    font-size: 0.9rem;
    color: white;
    opacity: 0;
    text-align: justify;
    margin: 3rem 3rem;
    padding: 3rem 3rem;
    box-shadow: 30px -15px 50px -15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 30px -15px 50px -15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 30px -15px 50px -15px rgba(0, 0, 0, 0.5);
}

.hello-msg {
    font-family: var(--mulish);
    font-size: 2rem;
    padding-bottom: 0.3rem;
    color: var(--white);
    display: block;
}

.link {
    position: absolute;
    text-decoration: none;
    font-style: italic;
    color: white;
    z-index: 9999;
}


/* ////////////////////////////
MediaQueries screen less than 700px
///////////////////////////////*/

@media screen and (max-width: 700px) {

    .hero-section {
        flex-direction: column;
        justify-content: center;
    }

    .hero-picture {
        order: 2;
        padding: 0;
        height: 35vh;
        width: 100%;
    }

    .hero-description {
        width: 100%;
        height: 65vh;
        /* overflow-y: hidden; */
    }

    .profile {
        width: 100%;
        height: 100%;
    }

    .subtitle {
        background: transparent;
        margin: 0 1rem;
        padding: 0 2rem;
        font-size: 0.6rem;
        /* overflow-y: hidden; */
    }

    .hello-msg {
        font-size: 1.5rem;
    }

    .link {
        position: relative;
    }

}