/*///////////////////////////////
Home Section
//////////////////////////////*/

.home-section {
    width: 100%;
    position: relative;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.home-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.background-images {
    opacity: 0;
}

.filter:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(270deg,
            hsl(215deg 73% 28%) 1%,
            hsl(326deg 42% 43%) 50%,
            hsl(341deg 100% 58%) 99%);
    mix-blend-mode: multiply;
}


/*///////////////////////////////
NavBar & Logos
//////////////////////////////*/

.navbar {
    position: fixed;
    width: 100%;
    height: 8rem;
    z-index: 9997;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
}

.logo {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: start;
}

.img-logo {
    width: 10%;
    opacity: 0;
}

.name-logo {
    font-family: var(--mulish);
    font-size: 1.2rem;
    color: white;
    opacity: 0;
    transform: translate(-100px, 0px);
}


/*///////////////////////////////
Title & Text
//////////////////////////////*/

.title {
    font-family: var(--mulish);
    font-size: 3rem;
    color: white;
    z-index: 1000;
    opacity: 0;
    text-align: center;
    padding: 3rem;
}


#text {
    font-family: var(--mulish);
    color: var(--red);
}


/* ////////////////////////////
MediaQueries screen less than 700px
///////////////////////////////*/

  @media screen and (max-width: 700px) {

    .navbar {
        justify-content: center;
    }

    .img-logo {
        width: 15%;
    }
    
    .name-logo {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }
    
  }